.app {
  min-height: 100vh;
  background: linear-gradient(
      180deg,
      rgba(63, 92, 166, 0.05) 0%,
      rgba(255, 255, 255, 0) 89.03%
    ),
    #f8f8fa;
  padding-bottom: 5rem;
}

.container {
  width: 85%;
  max-width: 65em;
  margin: 0 auto;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  font-size: 1.25rem;
}

.header-button {
  font-size: 1rem;
  font-weight: 500;
  width: 153px;
  height: 32px;
  border: 1px solid #000000;
  border-radius: 10px;
  background: transparent;
  cursor: pointer;
}

.header-title {
  display: flex;
  justify-content: center;
  font-size: 3.375rem;
}

.assets-title {
  margin-top: 2.5rem;
}

.assets-cards-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 0.75rem;
}

@media (max-width: 1154px) {
  .assets-cards-wrapper {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (max-width: 799px) {
  .assets-cards-wrapper {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 579px) {
  .assets-cards-wrapper {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 375px) {
  .header-content {
    flex-direction: column;
  }

  .header-title {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 2.75rem;
  }
}
